{
  "parser": "vue-eslint-parser",
  "env": {
    "browser": true,
    "es2021": true
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".vue"]
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:vue/vue3-recommended"
  ],
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "overrides": [],
  "plugins": ["@typescript-eslint", "unused-imports"],
  "rules": {
    "no-unused-vars": "off",
    "unused-imports/no-unused-imports": "error"
  }
}
